
<app-header></app-header>
<main>


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3"> 
                <alert></alert>

                <router-outlet></router-outlet>
                      
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="background-color: grey; padding:5px; border-width:2px;  border-style: solid;
        border-color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        <div class="col-md-4" style="background-color: grey; padding:5px; border-width:2px;  border-style: solid;
        border-color: white;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="col-md-4" style="background-color: grey; padding:5px; border-width:2px;  border-style: solid;
        border-color: white;">Porttitor rhoncus dolor purus non enim. Dictum at tempor commodo ullamcorper a lacus vestibulum. Placerat orci nulla pellentesque dignissim. Facilisis mauris sit amet massa. Velit sed ullamcorper morbi tincidunt ornare. Gravida rutrum quisque non tellus orci ac auctor.</div>
    </div>
  </div>     
<!-- credits -->
<div class="text-center">

    <p style="padding-top: 15px;">
        <a href="http://thereddoorcasino.com/wpdesign/developer-designer/" target="_top">Marshall Lucas = Fullstack</a>
    </p>
</div>

</main>
